<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @lesson.titre %>
</p>

<p>
  <strong>Body:</strong>
  <%= @lesson.body %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
