<h1>Editer article</h1>

<%= form_tag article_path(@article), method: :put do %>

<%= render 'form' %>
 
  <%= submit_tag "Modifier l'article"%>
<% end %>


<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  ...
<% end %>
 
<%= link_to 'Retour à la liste', articles_path %>

